.Button{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;

    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    background-color: transparent;

    min-width: 80px;
    height: 42px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 12px;
    border: 2px solid #000000;
    background-color: #e17777; 
    color: #ffffff;
    font-weight: 700;
    position: relative;
    z-index: 1;
    transition: 0.2s;

    -webkit-box-shadow: 0px -5px 0px 0px rgba(182, 96, 96, 0.2) inset;
    -moz-box-shadow: 0px -5px 0px 0px rgba(182, 96, 96, 0.2) inset;
    box-shadow: 0px -5px 0px 0px rgba(182, 96, 96, 0.2) inset;
}
.Button:hover{
    background-color: #dd8585;
}
.Wallet{
    width: 34px;
    height: 29px;
    background: url(../../assets/wallet.svg) no-repeat;
    background-size: cover;
}
.Button.Disabled{
    opacity: 0.5;
    cursor: default;
}
.Button.Disabled:hover{
    background-color: #e17777;
}